@model IEnumerable<Jokes.Models.Joke>

@{
    ViewData["Title"] = "Index";
}
<h1>List of Jokes</h1>

<p id="create-b" align="right">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JokeQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JokeAuthor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.JokeQuestion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JokeAuthor)
                    </td>
                    <td id="joke-option-section">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }else{
            <div>Sorry, no jokes found</div>
        }
    </tbody>
</table>
